@font-face {
    font-family: "Moldie";
    src: url("font/Moldie_Demo.otf") format("opentype");
}

:root {
    --mint: #E4F7EE;
    --aqua: #C7E9ED;
    --blue: #B2CAED;
    --lavender: #DAD9FA;
    --light-lavender: #F0E8FA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #DAD9FA, #F0E8FA);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    color: #333;
}

h1 {
    font-family: Moldie;
    letter-spacing: 0.3rem;
    font-size: 5rem;
    color: rgb(129, 93, 129);
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--lavender);
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(61, 61, 61);
    font-weight: 900;
    transition: scale 0.8s ease-in-out;
    font-size: 2rem;
}

.product-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 700;
    display: block;
    margin-bottom: 6px;
    transition: transform 0.2s ease-in-out;
}

.input_label {
    transition: transform 0.2s ease-in-out;
}

.input_label:hover {
    transform: translateY(-30%);
    transition: transform 0.2s ease-in-out;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: var(--mint);  
    transition: border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

input:focus,
select:focus {
    border-color: var(--blue);
    outline: none;
    background-color: rgb(238, 238, 238);
    transition: background-color 0.2s ease-in-out;
}

#select {
    color: rgba(0, 0, 0, 0.8);
}
.select_category {
    color: rgba(0, 0, 0, 0.5);
}

.radio-group {
    background-color: var(--lavender);
    padding: 10px;
    border-radius: 6px;
}

.radio-group label {
    margin-right: 20px;
    font-weight: 500;
}

input[type="radio"] {
    margin-right: 5px;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}

.submit-btn {
    width: 100%;
    background-color: var(--blue);
    color: rgb(46, 45, 56);
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #9db8e0;
}
